<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="images/Logo.png">
    <script src="https://kit.fontawesome.com/71ec5aa519.js" crossorigin="anonymous"></script>

    <title>ENTREVISTAS</title>
</head>

<body>
<div class="d-flex flex-column" style="height: 100vh;">
        <nav class="navbar navbar-expand-lg">
            <img style="height: 60px;" src="/images/Logo.png">
            <div class="col d-none d-lg-block">
                <h5 style="color: #D62121; margin-bottom: 0px;">F R A K T A L</h5>
                <h6>DONDE YACE EL METAL</h6>
            </div>
            <button class="navbar-toggler ml-auto" style="color: #D62121;" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">RADIO</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sorteos">SORTEOS</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/entrevistas">ENTREVISTAS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sobrenosotros">SOBRE NOSOTROS</a></li>
                </ul>
            </div>
        </nav>

        <!--*****************************************************Body************************************************************************-->
        <div class="d-flex flex-column pb-5 back" style="width: 80%; padding-top: 8%; margin-left: 10%; margin-right: 10%;">
            <!--***************Revenge interview******************-->
            <h1 class="titleShape1 mb-5">REVENGE</h1>
            <div class="d-flex d-lg-none flex-column justify-content-around" style="width: 100%;">
                <iframe class="frameVideo" src="https://www.youtube.com/embed/s3NyTsp7kzk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h5 class="bandInfo" style="color: white;">
                    Esteban Mejia vocalista y guitarrista de Revenge Speed Metal nos cuenta un poco de los
                    proyectos, experiencias e historia con la banda, además nos da su punto de vista de la
                    escena
                    del Metal y da unos cuantos consejos a las bandas emergentes desde sus experiencias vividas.
                </h5>
            </div>
            <div class="d-none d-lg-flex flex-row justify-content-around" style="width: 100%;">
                <iframe class="frameVideo" src="https://www.youtube.com/embed/s3NyTsp7kzk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h5 class="bandInfo" style="color: white; width: 40%;">
                    Esteban Mejia vocalista y guitarrista de Revenge Speed Metal nos cuenta un poco de los
                    proyectos, experiencias e historia con la banda, además nos da su punto de vista de la
                    escena
                    del Metal y da unos cuantos consejos a las bandas emergentes desde sus experiencias vividas.
                </h5>
            </div>
            <!--***************Desecration interview******************-->
            <h1 class="titleShape2 mb-5 mt-5">DESECRATION</h1>
            <div class="d-flex d-lg-none flex-column justify-content-around" style="width: 100%;">
                <iframe class="frameVideo" src="https://www.youtube.com/embed/p_pkQNJ3Jbg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h5 class="bandInfo" style="color: white;">
                    Esteban Mejia vocalista y guitarrista de Revenge Speed Metal nos cuenta un poco de los
                    proyectos, experiencias e historia con la banda, además nos da su punto de vista de la
                    escena
                    del Metal y da unos cuantos consejos a las bandas emergentes desde sus experiencias vividas.
                </h5>
            </div>
            <div class="d-none d-lg-flex flex-row justify-content-around" style="width: 100%;">
                <h5 class="bandInfo" style="color: white; width: 40%;">
                    Esteban Mejia vocalista y guitarrista de Revenge Speed Metal nos cuenta un poco de los
                    proyectos, experiencias e historia con la banda, además nos da su punto de vista de la
                    escena
                    del Metal y da unos cuantos consejos a las bandas emergentes desde sus experiencias vividas.
                </h5>
                <iframe class="frameVideo" src="https://www.youtube.com/embed/p_pkQNJ3Jbg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center align-items-center"
            style="padding: 1%; color: white; background-color: rgba(0, 0, 0, 0.5);">
            <h6>© 2020 Copyright FRAKTAL</h6>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>