<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="images/Logo.png">
    <script src="https://kit.fontawesome.com/71ec5aa519.js" crossorigin="anonymous"></script>

    <title>SORTEOS</title>
</head>

<body>


    <div class="d-flex flex-column" style="height: 100vh;">
        <nav class="navbar navbar-expand-lg">
            <img style="height: 60px;" src="/images/Logo.png">
            <div class="col d-none d-lg-block">
                <h5 style="color: #D62121; margin-bottom: 0px;">F R A K T A L</h5>
                <h6>DONDE YACE EL METAL</h6>
            </div>
            <button class="navbar-toggler ml-auto" style="color: #D62121;" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">RADIO</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/sorteos">SORTEOS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/entrevistas">ENTREVISTAS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sobrenosotros">SOBRE NOSOTROS</a></li>
                </ul>
            </div>
        </nav>

        <!--*****************************************************Body************************************************************************-->
        <div class="d-flex flex-column justify-content-around align-items-center" style="height: 86%;">
            <div class="card" style="width: 18rem; background-color: rgba(100, 0, 0, 0.5);">
                <div class="card-body" style="color: white;">
                    <p class="card-text">Los sorteos han acabado por el momento, pero seguiremos apoyando las bandas locales.</p>
                    <p class="text-center">¡SIGUE ATENTO!</p>
                </div>
            </div>
            <!--
            <div class="d-flex flex-row align-items-center" style="width: 80%; height: 100vh;">
                <div class="d-flex flex-row justify-content-between" style="width: 60%;">
                    <img src="images/avatar.png" alt="portada album" style="width: 25vw; height: 25vw;">
                    <div class="d-flex flex-column">
                        <h2 class="bandTitle">Bruja</h2>
                        <table class="ml-5">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tr>
                                <th scope="row" style="text-align: center;"><i style="color: #D62121;"
                                        class="fas fa-compact-disc fa-lg"></i></th>
                                <td class="bandInfo">Blasfemias</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: center;"><i style="color: #D62121;"
                                        class="fas fa-map-marker-alt fa-lg"></i></th>
                                <td class="bandInfo"><a
                                        href="https://www.google.com/maps/place/Rionegro,+Antioquia/@6.1448358,-75.4091376,13z/data=!3m1!4b1!4m5!3m4!1s0x8e469f0f10c26bc9:0x76297df352b016c6!8m2!3d6.1490188!4d-75.3789523">Rionegro</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: center;"><i style="color: #D62121;"
                                        class="fab fa-facebook-square fa-lg"></i>
                                </th>
                                <td class="bandInfo"><a href="https://www.facebook.com/brujametal">@Brujametal</a></td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: center;"><i style="color: #D62121;"
                                        class="fab fa-facebook-squarefab fa-youtube fa-lg"></i></th>
                                <td class="bandInfo"><a
                                        href="https://www.youtube.com/channel/UCND-eXIfDZ9-gCv8MQ9ImjQ">Bruja Black
                                        Thrash Metal</a></td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: center;"><i style="color: #D62121;"
                                        class="fas fa-book-dead fa-lg"></i></th>
                                <td class="bandInfo"><a
                                        href="https://www.metal-archives.com/bands/Bruja/3540428059">Metal Archives</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td class="bandInfo">Juega: 13/Octubre/2019</td>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="d-flex flex-column" style="width: 40%;">

                </div>
            </div>
            <div class="d-flex flex-column text-center mt-5" style="width: 80%;">
                <h2 class="bandTitle">Historia</h>
                    <br>
                    <br>
                    <p style="color: white; text-align: justify;">Bruja es una banda de Thrash Metal con influencias de
                        grandes bandas del underground
                        sudamericano, colombiano y europeo intentando crear un sonido primitivo.cdsvgdsbdbfd bf dsdf h
                        fg g hf hfg hfg fh fghfgh fgh gfh fg sgh fg jkfgjk jkf g gfjkfg kjg kjh gjk jk jkgjk jk guikj
                        fgiujkdfiujkkjhglkdjhkjdf hk kkjhbjgh f jhfjhgjhd dfhjjhfdbgud sdhgbjhfdbjhddfjhdfih gd bd fjhb
                        dfg fdBruja es una banda de Thrash Metal con influencias de
                        grandes bandas del underground
                        sudamericano, colombiano y europeo intentando crear un sonido primitivo.cdsvgdsbdbfd bf dsdf h
                        fg g hf hfg hfg fh fghfgh fgh gfh fg sgh fg jkfgjk jkf g gfjkfg kjg kjh gjk jk jkgjk jk guikj
                        fgiujkdfiujkkjhglkdjhkjdf hk kkjhbjgh f jhfjhgjhd dfhjjhfdbgud sdhgbjhfdbjhddfjhdfih gd bd fjhb
                        dfg fdBruja es una banda de Thrash Metal con influencias de
                        grandes bandas del underground
                        sudamericano, colombiano y europeo intentando crear un sonido primitivo.cdsvgdsbdbfd bf dsdf h
                        fg g hf hfg hfg fh fghfgh fgh gfh fg sgh fg jkfgjk jkf g gfjkfg kjg kjh gjk jk jkgjk jk guikj
                        fgiujkdfiujkkjhglkdjhkjdf hk kkjhbjgh f jhfjhgjhd dfhjjhfdbgud sdhgbjhfdbjhddfjhdfih gd bd fjhb
                        dfg fdBruja es una banda de Thrash Metal con influencias de
                        grandes bandas del underground
                        sudamericano, colombiano y europeo intentando crear un sonido primitivo.cdsvgdsbdbfd bf dsdf h
                        fg g hf hfg hfg fh fghfgh fgh gfh fg sgh fg jkfgjk jkf g gfjkfg kjg kjh gjk jk jkgjk jk guikj
                        fgiujkdfiujkkjhglkdjhkjdf hk kkjhbjgh f jhfjhgjhd dfhjjhfdbgud sdhgbjhfdbjhddfjhdfih gd bd fjhb
                        dfg fd</p>
            </div>
            -->
        </div>

        <!--*****************************************************Footer************************************************************************-->
        <div class="d-flex flex-row justify-content-center align-items-center"
            style="padding: 1%; color: white; background-color: rgba(0, 0, 0, 0.5);">
            <h6>© 2020 Copyright FRAKTAL</h6>
        </div>

    </div>

    <!--<h4 class="mt-5" style="text-align: center; color: #D62121;">TÉRMINOS Y CONDICIONES</h4>
                <p class="par">1. La información suministrada no será compartida a terceros y su único uso será
                    exclusivo para el
                    sorteo.<br>
                    2. Fraktal se reserva el derecho de admisión.<br>
                    3. Fraktal no se hace cargo de los costos de envío.<br>
                    4. El/los ganador/es, serán anunciados por la página y elegidos por medio de una plataforma online
                    de
                    sorteos, sin favoritismos.<br>
                    5. Si Fraktal no se logra comunicar con el ganador en un plazo de 48 horas, el premio se sorteará
                    nuevamente con los mismos participantes, excluyendo ganadores.<br>
                    6. El/los ganador/es no podrán participar en el sorteo de la semana siguiente, pero sí en los
                    posteriores.<br>
                    7. No harán parte del sorteo las personas que se registren una hora antes o posterior al sorteo.
                    8.Darle like a la página en Facebook.<br>
                </p>

                <h5 style="color: #D62121;">ACLARACIONES</h5>
                <p class="par">
                    Fraktal no está asociado a ninguna organización o empresa para el beneficio de bandas determinadas.
                    (¡SIN ROSCA!)
                    Los costos del material adquirido, son asumidos por Fraktal y las donaciones.
                </p>
            </div>

        </div>

    </div>-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>